
<mat-toolbar class="icon">
<img src="assets/image/download.png" />

<form class="example-form">
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Number</mat-label>
  <input type="text"
         placeholder="Pick one"
         aria-label="Number"
         matInput
         [formControl]="courseCtrl"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredCourses | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
</form>

<a class="active" href="#">Subject</a>
<a class="active" href="#">Language</a>
</mat-toolbar>
