.course-card {
  
  
  border: 1px solid grey;
  margin:30px;
  display:flex;
  flex-direction:row;
  width: 400px;
  margin-bottom: 8px;
  background-color: palevioletred;


}
mat-grid-list {
 width: 100%;
  
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white;
}

